<mat-toolbar color="primary">
  <span>Bookmarker</span>
  <span class="spacer"></span>

  <mat-form-field class="search-field" appearance="outline">
    <mat-icon matPrefix>search</mat-icon>
    <input matInput type="text" placeholder="Search bookmarks..." [(ngModel)]="searchQuery" (ngModelChange)="onSearch($event)">
  </mat-form-field>

  <span class="spacer"></span>

  <button mat-button routerLink="/">
    <mat-icon>bookmarks</mat-icon>
    Bookmarks
  </button>
  <button mat-button routerLink="/create">
    <mat-icon>add</mat-icon>
    Add Bookmark
  </button>
</mat-toolbar>

<div class="content">
  <router-outlet></router-outlet>
</div>
